Repository JetBrains/resharper-unity, pull requests merged in 2018-12, with the labels that each got.

#949 Performance improvements to solution load
  resharper/resharper-unity/src/ProjectModel/UnityReferencesTracker.cs
  resharper/resharper-unity/src/Yaml/Psi/Caches/UnityEventHandlerReferenceCache.cs
  resharper/resharper-unity/src/Yaml/Psi/Modules/UnityExternalFilesModuleProcessor.cs
  resharper/resharper-unity/src/Yaml/Psi/Modules/UnityMiscFilesProjectPsiModuleProvider.cs
  resharper/resharper-unity/src/Yaml/Psi/Resolve/MonoScriptReferenceProviderFactory.cs
  resharper/resharper-unity/src/Yaml/Psi/Resolve/UnityEventTargetReferenceProviderFactory.cs
  resharper/resharper-unity/src/Yaml/Psi/UnityYamlPsiSourceFileExtensions.cs
  resharper/resharper-unity/src/Yaml/UnityYamlFileExtensions.cs
  resharper/resharper-yaml/src/Psi/Parsing/Yaml.lex
  resharper/resharper-yaml/src/Psi/Parsing/YamlTokenBase.cs
  resharper/resharper-yaml/src/Psi/Parsing/YamlTokenType.Instances.cs
  resharper/resharper-yaml/src/Psi/YamlLanguageService.cs
  resharper/resharper-yaml/src/Psi/YamlLexerFactory.cs
  resharper/resharper-yaml/test/data/Psi/Lexing/Unity/.gitattributes
  resharper/resharper-yaml/test/data/Psi/Lexing/Unity/BinarySerialization.asset
  resharper/resharper-yaml/test/data/Psi/Lexing/Unity/BinarySerialization.asset.gold
  resharper/resharper-yaml/test/data/Psi/Parsing/Unity/.gitattributes
  resharper/resharper-yaml/test/data/Psi/Parsing/Unity/BinarySerialization.asset
  resharper/resharper-yaml/test/data/Psi/Parsing/Unity/BinarySerialization.asset.gold
  resharper/resharper-yaml/test/src/Psi/Parsing/LexerTests.cs
  resharper/resharper-yaml/test/src/Psi/Parsing/UnityLexerTests.cs
  resharper/resharper-yaml/test/src/Psi/Parsing/UnityParserTests.cs
Labels: yaml

#886 Adding a warning if a user calls `base.OnGUI` in PropertyDrawer override
  resharper/resharper-unity/src/CSharp/Daemon/Errors/CSharpErrors.xml
  resharper/resharper-unity/src/CSharp/Daemon/Stages/Analysis/PropertyDrawerOnGUIBaseProblemAnalyzer.cs
  resharper/resharper-unity/src/KnownTypes.cs
  resharper/resharper-unity/test/data/CSharp/Daemon/Stages/Analysis/PropertyDrawerOnGUIBaseCallWarning.cs
  resharper/resharper-unity/test/data/CSharp/Daemon/Stages/Analysis/PropertyDrawerOnGUIBaseCallWarning.cs.gold
  resharper/resharper-unity/test/src/CSharp/Daemon/Stages/Analysis/PropertyDrawerOnGUIBaseCallWarning.cs
Labels: WIP

#952 Resolve local packages with fully qualified paths
  rider/src/main/kotlin/com/jetbrains/rider/plugins/unity/explorer/PackagesManager.kt
Labels: bug

#967 Fix finding of YAML files for file based packages
  resharper/resharper-unity/src/ProjectExtensions.cs
  resharper/resharper-unity/src/Yaml/Psi/Modules/UnityExternalFilesModuleProcessor.cs
  resharper/resharper-unity/src/Yaml/UnityYamlFileExtensions.cs
Labels: bug, yaml
